<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books_authors_shell_app/css/style.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Authors</title>
</head>
<body>
        <h1>Add an Author</h1>
        <div class="left-column">
            <form action="/create_authors" method="POST">
                {% csrf_token %}
                <table class="table table-striped">
                    <tr>
                        <td>First Name</td>
                        <td>
                            <input name="first_name" type="text">
                        </td>
                    </tr>
                    <tr>    
                        <td>Last Name</td>
                        <td>
                            <input name="last_name" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td>
                            <textarea name="notes"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <button class="btn btn-secondary btn-lg">Add</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div class="right-column">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    {% for author in authors %}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}} {{author.last_name}}</td>
                        <td>
                            <a href="/author/{{author.id}}">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        <!-- <a href="/books">Back to Books</a> -->
</body>
</html>